@import "variables.less";
@import "hljs.less";

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--theme-text);
  background: var(--theme-bg);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

code {
  font-family: monospace;
}

a {
  color: var(--theme-link);

  &:visited {
    color: var(--theme-link-used);
  }
}

body {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

nav {
  @navbar-height: 2rem;
  background-color: var(--theme-bg-2);
  padding: 8px;
  height: calc(@navbar-height + 16px);

  .header {
    display: flex;
    flex-direction: row;

    .brand {
      border: 0;
      background-color: transparent;
      width: @navbar-height;
      height: @navbar-height;
      background: center / contain no-repeat url("/litter.png");
      display: inline-block;
    }

    // TODO(mike): figure this out once I get some content
    // .burger {
    //   margin-left: auto;
    //   width: 2rem;
    //   height: 100%;
    // }
  }

  // .content>.link {
  //   display: block;
  //   height: 2rem;
  //   line-height: $height;
  //   color: var(--theme-text);
  //   text-decoration: none;

  //   margin: .5rem 0;
  // }

  // &.maximized .content {
  //   display: none;
  // }
}

main {
  padding: min(2%, 1em) min(5%, 2em);
  margin: 0 auto;
  min-width: min(88ch, 100%);
  max-width: min(88ch, 100%);
}

// desktop

@media screen and (min-width: @desktop) {
  body {
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
  }

  nav {
    width: 100%;
    height: 100%;
    padding: 30px 0;

    .header {
      width: 100%;
      flex-direction: column;
      align-items: center;

      .brand {
        height: 64px;
        width: 64px;
      }
    }
  }
}